<!--  ==============  -->
<!--  === Masthead ===  -->
<!--  ==============  -->
<header class="masthead bio" role="banner">
	<nav class="nav-header">
		<ul class="nav-header-list unstyled">
			<li class="nav-header-list-item"><a href="">Contact Me</a></li>
			<li class="nav-header-list-item is-active"><a href="">About Me</a></li>
		</ul>
	</nav>

	<div class="bio-info media">
		<div class="bio-img media-img">
			<img src="http://placekitten.com/110/110">
		</div>
		<div class="media-body">
			<h1 class="bio-title">Nicholas Oliver</h1>
			<p>Global Creative Technical Director that loves tech and travel.<br>Currently consulting for <a href="">@HART_tweets</a>, <a href="">@TeamDetroit</a> and <a href="">@WPP</a>.</p>

			<ul class="unstyled l-list--floated socialLinks">
				<li class="socialLinks-item socialLinks-item--twitter"><a href="https://twitter.com/nicoliver86" class="socialLinks-link">Twitter</a></li>
				<li class="socialLinks-item socialLinks-item--linkedin"><a href="https://www.linkedin.com/in/nicoliver" class="socialLinks-link">LinkedIn</a></li>
			</ul>
		</div>
	</div>

	<ul class="bio-stats unstyled">
		<li class="bio-stats-item">
			<span class="bio-stats-title">24</span>
			<span class="bio-stats-subtext">Years Old</span>
		</li>
		<li class="bio-stats-item">
			<span class="bio-stats-title">24</span>
			<span class="bio-stats-subtext">Years Old</span>
		</li>
		<li class="bio-stats-item">
			<span class="bio-stats-title">24</span>
			<span class="bio-stats-subtext">Years Old</span>
		</li>
		<li class="bio-stats-item">
			<span class="bio-stats-title">24</span>
			<span class="bio-stats-subtext">Years Old</span>
		</li>
		<li class="bio-stats-item">
			<span class="bio-stats-title">24</span>
			<span class="bio-stats-subtext">Years Old</span>
		</li>
	</div>
</header>




