<!--  ==============  -->
<!--  === Masthead ===  -->
<!--  ==============  -->
<header class="masthead bio" role="banner">
	<div class="bio-info media">
		<div class="bio-img media-img">
			<img src="http://placekitten.com/110/110">
		</div>
		<div class="media-body">
			<h1 class="bio-title">Nicholas Oliver</h1>
			<p>Global Creative Technical Director that loves tech and travel.Currently consulting for @HART_tweets, @TeamDetroit and @WPP.</p>

			<ul class="unstyled l-list--floated socialLinks">
				<li class="socialLinks-item socialLinks-item--twitter"><a href="https://twitter.com/nicoliver86" class="socialLinks-link">Twitter</a></li>
				<li class="socialLinks-item socialLinks-item--linkedin"><a href="https://www.linkedin.com/in/nicoliver" class="socialLinks-link">LinkedIn</a></li>
			</ul>
		</div>
	</div>
</header>




