/**
 * Color palette
 */

//color palette
$blue                         : #3eb5f3;
$gray                         : #929a97;
$grayDark                     : #363636;

// Generic colors
$green                        : #16c98d;
$red                          : #fa5e5b;
$yellow                       : #feef6d;
$orange                       : #e67e22;

// Color Scheme
$color-primary                : $blue;
$color-secondary              : #000;
$color-highlight              : $red;

// Common colors
$color-text                   : #444;
$color-bg                     : #fff;
$color-border                 : #ddd;

// Text Selection
$color-selection              : #fff;
$color-selection-bg           : $color-primary;


// Links
$color-link-default           : $color-primary;
$color-link-visited           : $color-primary;
$color-link-hover             : darken($color-primary, 20%);
$color-link-active            : darken($color-primary, 20%);


// <hr> border color
$hr-border                    : lighten(#000, 70%);
